<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Bot</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="https://kryptonproject.my.id/assets/img/ic.png">
</head>

<body>
    <div class="content">
        <h1>KryPtoN Bot Resources</h1>
        <div class="user">Hello</div>
        <label class="server">-- Server --</label>
        <div class="os">OS Type</div>
        <!-- CPU  -->
        <label class="cpu-label" for="cpu">CPU 0%</label>
        <div class="outerContainer-cpu">
          <div class="innerBar-cpu"></div>
        </div>
        <!-- RAM  -->
        <label class="ram-label" for="ram">RAM 0%</label>
        <div class="outerContainer-ram">
          <div class="innerBar-ram"></div>
        </div>
        <label class="bot">-- BOT --</label>
        <!-- CHAT  -->
        <div class="chat">Total CHAT</div>
        <!-- ULTIME  -->
        <div class="uptime">Uptime:</div>
        <label class="log-label">Bot command log realtime: </label>
        <div class="log"><div></div><div></div><div></div><div></div></div>
    </div>

    <footer>KryPtoN 😎 ©2021</footer>
    <!-- SOCKET IO  -->
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="./js/main.js" defer></script>
</body>

</html>
